<div class="container-fluid">
  <img src="img/pexels-photo.jpg" id="bg" alt="" class="img-responsive">
  <div class="row">
    <div class="col-xs-1 col-sm-3 col-md-3 col-lg-4"></div>

    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-4">
      <div class="container-fluid homeDiv">
        <div class="aboutContainer">
        <div class="panel-body">
          <h3>Madbar</h3>
          <p><a href="https://madbarfc.firebaseapp.com/#/app/home">MadBar FC</a></p>
          <p>APP created with IONIC, AngularJS, HTML, CSS, and other technologies.</p>
        </div>
        </div>
      </div>
    </div>

    <div class="col-xs-1 col-sm-3 col-md-3 col-lg-4"></div>
</div>
</div>
