<div class="container-fluid">
  <img src="img/pexels-photo.jpg" id="bg" alt="" class="img-responsive">
  <div class="row">
    <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3"></div><!-- LEFT SIDE -->

    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6"><!-- CENTER GRID -->
      <div class="container-fluid homeDiv">
    <div class="aboutContainer">
    <div ng-repeat="(key, p) in projects">

        <div class="panel panel">
            <div class="panel-title">{{ p.name }}</div>
            <div class="panel-body">
                <p><b>Description:</b> {{ p.about }}</p>
                <p><b>Resources:</b> {{ p.resources }}</p>
                <p><b>Link:</b> <a>{{ p.link }}</a></p>
            </div>
        </div>

    </div>

    </div>
    </div>




<!--
        <div class="panel panel">
        <div class="panel-title">Mobile Development</div>
        <div class="panel-body">
          <h3>Madbar</h3>
          <p><a href="https://madbarfc.firebaseapp.com/#/app/home">MadBar FC</a></p>
          <p>APP created with IONIC, AngularJS, HTML, CSS, and other technologies.</p>
        </div>
        </div>

         <div class="panel panel">
         <div class="panel-title">Web Development</div>
         <div class="panel-body">
          <h3>Madbar Desk</h3>
          <p><a href="https://madbardesk.firebaseapp.com/#/home">MadBar FC</a></p>
          <p>Website created using Firebase, AngularJS, HTML, CSS, and other technologies.</p>
         </div>
         </div>

            <div class="panel panel">
                <div class="panel-title">Web Development</div>
                <div class="panel-body">
                    <h3>Photographer's portfolio</h3>
                    <p><a href="https://madbardesk.firebaseapp.com/#/home">German Productions</a></p>
                    <p>Website created using Firebase, AngularJS, HTML, CSS, and other technologies.</p>
                </div>
            </div>

            <div class="panel panel">
                <div class="panel-title">Web Development</div>
                <div class="panel-body">
                    <h3>SQL Queries Library</h3>
                    <p><a href="https://madbardesk.firebaseapp.com/#/home">Provide easy lookup/access to queries</a></p>
                    <p>Website created using Firebase, AngularJS, HTML, CSS, SQL and other technologies.</p>
                </div>
            </div>

        </div>
      </div>
    </div>

-->

<div class="col-xs-1 col-sm-3 col-md-3 col-lg-3"></div><!-- RIGHT GRID -->
</div>
</div>
