<div class="container-fluid greenBackground">
  <div class="row">
    <div class="col-xs-1 col-sm-3 col-md-3 col-lg-4"></div>
    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-4">
      <div class="container-fluid homeDiv">

      <h1>MadBar FC</h1>
      <h5>Amateur Soccer Team</h5>
      <div class="panel panel">
        <div class="panel-heading">
          <h3 class="panel-title">MadBar History</h3>
        </div>
        <div class="panel-body">
          <p>Formed in 2014 by a group of old boys of Wyggeston School as
             "MadBar Fosse", the club joined the Small Goal Soccer Association in 2105.
             Before moving to Filbert Street in 2016, the club played at five
             different grounds, including Victoria Park south-east of the city
             centre and the Belgrave Road Cricket and Bicycle Grounds. The club
             also joined the Midland League in 2015, and was elected to Division
             Two of the Football League in 2015 after finishing second.
          </p>
        </div>
      </div>

      </div>
    </div>
    <div class="col-xs-1 col-sm-3 col-md-3 col-lg-4"></div>
</div>
</div>
