<div class="container">
  <img src="img/pexels-photo.jpg" id="bg" alt="" class="img-responsive">
  <div class="row">

    <div class="col-sm-3 col-md-3 col-lg-3"></div><!-- LEFT GRID -->

    <div class="col-sm-6 col-md-6 col-lg-6"><!-- MIDDLE GRID -->
      <div class="container-fluid homeDiv">


  <div class="aboutContainer"><!-- ABOUT CONTAINER -->
        <img src="img/portfolioPic.jpg" alt="Moises Martinez" class="myImage center-block">
      <h3 class="headingFont">Moises Martinez</h3>

      <div class="panel panel">
          <div class="panel-title">About Me</div>
        <div class="panel-body">
          <p>Welcome to my portfolio. My name is Moises Martinez and I am an Information Technology
             major at Arizona State University and possess an associate’s degree in Computer Information
             Systems from Scottsdale Community College. As part of the degree and as personal interest,
             I have experience developing front-end applications using languages such as HTML, CSS, and
             JavaScript. In addition, I have worked with languages such as C, C++, and Java under an academic
             environment. Through this portfolio I will share some of the projects I have done for school,
             work, and in my spare time.
          </p>

        </div>
      </div>

      <div class="panel panel">
          <div class="panel-title">Contact Information</div>
        <div class="panel-body">
            <div class="contactInfo">
                <span><a>lmarq7@gmail.com</a></span>
                <span>Github Link</span>
                <span>ASU profile</span>
                <span>LinkedIn link</span>
            </div>
       </div>
      </div>

   </div><!-- ABOUT CONTAINER -->
      </div>
    </div><!-- MIDDLE GRID -->


    <div class="col-sm-3 col-md-3 col-lg-3">

    </div><!-- RIGHT SIDE -->
</div>

</div>
