<div class="container blueBackground">
  <!--<img src="img/jumboPic.jpg" id="bg" alt="">-->
  <div class="row">

    <div class="col-md-3 col-lg-3"></div><!-- LEFT GRID -->

    <div class="col-md-6 col-lg-6"><!-- MIDDLE GRID -->
      <div class="container-fluid homeDiv">


  <div class="aboutContainer"><!-- ABOUT CONTAINER -->
        <img src="img/portfolioPic.jpg" alt="Moises Martinez" class="myImage center-block">
      <h3 class="nameFont">Moises Martinez</h3>

      <div class="panel panel">
        <div class="panel-body">
          <p><span class="welcomeFont">Welcome</span> to my portfolio. My name is Moises Martinez and I am an Information Technology
             major at Arizona State University and possess an associate’s degree in Computer Information
             Systems from Scottsdale Community College. As part of the degree and as personal interest,
             I have experience developing front-end applications using languages such as HTML, CSS, and
             JavaScript. In addition, I have worked with languages such as C, C++, and Java under an academic
             environment. Through this portfolio I will share some of the projects I have done for school,
             work, and in my spare time.
          </p>
          <p>
             Thanks
          </p>
        </div>
      </div>

   </div><!-- ABOUT CONTAINER -->
      </div>
    </div><!-- MIDDLE GRID -->


    <div class="col-md-3 col-lg-3"></div><!-- RIGHT SIDE -->
</div>

</div>
