<div class="container-fluid">
              <p>Add a player</p>
              <p>Type a player's name and hit +</p>

              <form name="myform" ng-submit="addName()" novalidate>
                <div class="inputwrapper">
                  <input type="text" name="nameField" placeholder="name" ng-model="nameField">
                </div>
                <button type="submit" class="btn" ng-disabled="myform.$invalid"> Add Name </button>
              </form>

              <form name="myform" ng-submit="addBio()" novalidate>
                <div class="inputwrapper">
                  <input type="text" name="aboutField" placeholder="about" ng-model="aboutField">
                </div>
                <button type="submit" class="btn" ng-disabled="myform.$invalid"> Add Bio </button>
              </form>

    <form name="myform" ng-submit="addProject()" novalidate>
        <div class="inputwrapper">
            <input type="text" name="projectName" placeholder="projectName" ng-model="projectName">
            <input type="text" name="projectAbout" placeholder="projectAbout" ng-model="projectAbout">
            <input type="text" name="projectResources" placeholder="projectResources" ng-model="projectResources">
            <input type="text" name="projectLink" placeholder="projectLink" ng-model="projectLink">
        </div>
        <button type="submit" class="btn" ng-disabled="myform.$invalid"> Add Project </button>
    </form>

            <p>Name</p>
            <div ng-repeat="(key, n) in names">
                <p>{{ n.name }}</p>
            </div>


            <p>Bio</p>
            <div ng-repeat="(key, i) in bios">
            <p>{{ i.about }}</p>
            </div>

    <p>Project</p>
    <div ng-repeat="(key, p) in projects">
        <p>{{ p.name }}</p>
        <p>{{ p.about }}</p>
        <p>{{ p.resources }}</p>
        <p>{{ p.link }}</p>
    </div>


</div>
<!--
<div class="inputwrapper">
  <input type="text" name="playernationality"
         placeholder="Player nationality"
         ng-model="playernationality" ng-required="true">
</div>

<div class="inputwrapper">
  <input type="text" name="playernumber"
         placeholder="Player number"
         ng-model="playernumber" ng-required="true">
</div>

<div class="inputwrapper">
  <input type="text" name="playerstatus"
         placeholder="Player status"
         ng-model="playerstatus" ng-required="true">
</div>


-->