<div class="container-fluid">
              <p>Add a player</p>
              <p>Type a player's name and hit +</p>

              <form name="myform" ng-submit="addName()" novalidate>
                <div class="inputwrapper">
                  <input type="text" name="nameField" placeholder="name" ng-model="nameField">
                </div>
                <button type="submit" class="btn" ng-disabled="myform.$invalid"> Add Name </button>
              </form>

              <form name="myform" ng-submit="addBio()" novalidate>
                <div class="inputwrapper">
                  <input type="text" name="aboutField" placeholder="about" ng-model="aboutField">
                </div>
                <button type="submit" class="btn" ng-disabled="myform.$invalid"> Add Bio </button>
              </form>


            <p>Name</p>
            <div class="homeDiv" ng-repeat="(key, item) in items" ng-model="nameField">
              <p>{{ nameField.name }}</p>
            </div>

            <p>sfdfds</p>

            <p>Bio</p>
            <div class="homeDiv" ng-repeat="(key, item) in items" ng-model="aboutField">
            <p>{{ bio.aboutField }}</p>
            </div>


</div>
<!--
<div class="inputwrapper">
  <input type="text" name="playernationality"
         placeholder="Player nationality"
         ng-model="playernationality" ng-required="true">
</div>

<div class="inputwrapper">
  <input type="text" name="playernumber"
         placeholder="Player number"
         ng-model="playernumber" ng-required="true">
</div>

<div class="inputwrapper">
  <input type="text" name="playerstatus"
         placeholder="Player status"
         ng-model="playerstatus" ng-required="true">
</div>


-->