<div class="container-fluid">
  <img src="img/pexels-photo.jpg" id="bg" alt="" class="img-responsive">
  <div class="row">
    <div class="col-xs-1 col-sm-3 col-md-3 col-lg-3"></div><!-- LEFT SIDE -->

    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6"><!-- CENTER GRID -->
      <div class="container-fluid homeDiv">
    <div class="aboutContainer">
    <div ng-repeat="(key, p) in projects">

        <div class="panel panel">
            <div class="panel-title">{{ p.name }}</div>
            <div class="panel-body">
                <p><b>Description:</b> {{ p.about }}</p>
                <p><b>Resources:</b> {{ p.resources }}</p>
                <p><b>Link:</b> <a ng-href="{{ p.link }}">{{ p.name }}</a></p>
            </div>
        </div>

    </div>

    </div>
    </div>

<div class="col-xs-1 col-sm-3 col-md-3 col-lg-3"></div><!-- RIGHT GRID -->
</div>
</div>
